
<header>
    <nav>
        <h1>Lottie Jones</h1>
        <ul>
            <li>
                
               <!-- anchors for nav, not in website buttons -->
                <a href="#">Home</a>
                <a href="#">Projects</a>
                <a href="#">Contact</a>
                
            </li>
        </ul>
     
    </nav>
</header>

<div class="main">
   <div class="welcome-text">
    <img src="../../assets/heart.svg">
    <h1 class="title">Welcome To My World</h1>
    <p>Hi, my name is Lottie and I am a front end developer based in the uk</p>
   </div>
</div>
