@use '@angular/material' as mat;
@include mat.core();
@import '../../theme.scss';


.main {
    height: 100%;
    width: 100%;
    display: flex;
    background-color:mat.get-color-from-palette($lottie-portfolio-accent);

    .welcome-text{
      width: 75%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align-last: center;
      margin-top: 2rem;
      color: antiquewhite;
      align-self: flex-start;
      margin-left: 15rem;

        img {
            height: 3rem;
            width: 3rem;
            margin: 0;
            align-self: center;
        }

        input{
          width: 10rem;
          display: flex;
          align-self: center;
}

button{
  width: 10.5rem;
    display: flex;
    /* margin-left: 48rem; */
    /* justify-content: center; */
    align-self: center;
}
    }
}


@keyframes load-text{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }